<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.knia.foreign.exchange.dao.mapper.MenuMapper">

	<resultMap id="mapMenuVO" type="egovframework.knia.foreign.exchange.vo.MenuVO">
		<result property="mnuId" column="MNU_ID" />
		<result property="mnuNm" column="MNU_NM" />
		<result property="prtMnuId" column="PRT_MNU_ID" />
		<result property="srcMnuId" column="SRC_MNU_ID" />
		<result property="stMnuId" column="ST_MNU_ID" />
		<result property="mnuType" column="MNU_TYPE" />
		<result property="lvl" column="LVL" />
		<result property="sortNum" column="SORT_NUM" />
		<result property="useYn" column="USE_YN" />
		<result property="url" column="URL" />
		<result property="isDel" column="IS_DEL" />
	</resultMap>

	<sql id="commonMenu">
		SELECT
			MNU_ID, MNU_NM, PRT_MNU_ID, 
			SRC_MNU_ID, IS_INC, 
			MNU_TYPE, LVL, SORT_NUM, 
			USE_YN, URL, IS_DEL
		FROM
			${tableName}
	</sql>
	
	<select id="selectMenuFindByUrl" parameterType="String" resultMap="mapMenuVO">
		/** menu.selectMenuFindByUrl */
		SELECT
			CM.MNU_ID, 
			CM.PRT_MNU_ID, 
			CM.LVL, 
			CM.MNU_NM, 
			CM.SRC_MNU_ID, 
			CM.MNU_TYPE, 
			PM.PRT_MNU_ID ST_MNU_ID
		FROM
			TB_FOR_MNU CM LEFT JOIN TB_FOR_MNU PM ON CM.PRT_MNU_ID=PM.MNU_ID
		WHERE
			CM.IS_DEL='N'
			AND CM.USE_YN='Y'
			AND CM.URL=#{value }
		LIMIT 1
	</select>
	
	<select id="selectMenu" parameterType="menuVO" resultMap="mapMenuVO">
		/** menu.selectMenu */
		<include refid="commonMenu">
			<property name="tableName" value="TB_FOR_MNU" />
		</include>
		WHERE
			IS_DEL=#{isDel}
			AND LVL=#{lvl}
			<if test="mnuId != null and mnuId !=''">
				AND MNU_ID=#{mnuId}
			</if>
			<if test="prtMnuId != null and prtMnuId !=''">
				AND PRT_MNU_ID=#{prtMnuId}
			</if>
			<if test="isInc != null and isInc !=''">
				AND IS_INC=#{isInc}
			</if>
			<if test="mnuType != null and mnuType !=''">
				AND MNU_TYPE=#{mnuType}
			</if>
		LIMIT 1
	</select>
	
	<select id="selectMenuList" parameterType="menuVO" resultMap="mapMenuVO">
		/** menu.selectMenuList */
		<include refid="commonMenu">
			<property name="tableName" value="TB_FOR_MNU" />
		</include>
		WHERE
			IS_DEL=#{isDel}
			AND LVL=#{lvl}
			<if test="mnuId != null and mnuId !=''">
				AND MNU_ID=#{mnuId}
			</if>
			<if test="prtMnuId != null and prtMnuId !=''">
				AND PRT_MNU_ID=#{prtMnuId}
			</if>
			<if test="mnuType != null and mnuType !=''">
				AND MNU_TYPE=#{mnuType}
			</if>
		ORDER BY
			SORT_NUM
	</select>
	
	<select id="selectMenuTree" parameterType="menuVO" resultMap="mapMenuVO">
		/** menu.selectMenuTree */
		<include refid="commonMenu">
			<property name="tableName" value="TB_FOR_MNU" />
		</include>
		WHERE
			IS_DEL='N'
			AND IS_INC='Y'
		ORDER BY SORT_NUM
	</select>
	
	<insert id="insertMenu" parameterType="menuVO">
		/** menu.selectMenuTree */
		INSERT INTO
			TB_FOR_MNU (
				MNU_ID, 
				MNU_NM, 
				PRT_MNU_ID, 
				SRC_MNU_ID, 
				LVL, 
				SORT_NUM, 
				USE_YN, 
				IS_INC,
				MNU_TYPE,
				URL, 
				IS_DEL
				INSRT_ID, 
				INSRT_DATE, 
				UPDT_ID, 
				UPDT_DATE
			) VALUES(
				#{mnuId}, 
				#{mnuNm}, 
				#{prtMnuId}, 
				#{srcMnuId}, 
				#{mnuType}, 
				#{lvl}, 
				#{sortNum}, 
				#{useYn}, 
				#{isInc }, 
				#{mnuType },
				#{url }
				#{isDel}, 
				#{insrtId}, 
				NOW(), 
				#{updtId}, 
				NOW()
			)
	</insert>
	
	<update id="updateMenu" parameterType="menuVO">
		/** menu.updateMenu */
		UPDATE
			TB_FOR_MNU
			SET
				MNU_NM=#{mnuNm }, 
				PRT_MNU_ID=#{prtMnuId}, 
				SRC_MNU_ID=#{srcMnuId},
				LVL=#{lvl}, 
				SORT_NUM=#{sortNum}, 
				USE_YN=#{useYn},
				IS_INC=#{isInc }, 
				MNU_TYPE=#{mnuType }, 
				URL=#{url } 
				IS_DEL=#{isDel}, 
				UPDT_ID=#{updtId}, 
				UPDT_DATE=now()
		WHERE
			MNU_ID=#{mnuId }
	</update>

</mapper>